body, html {
  height: 100%;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("./assets/bizDay-la-bg-img.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0; }

.biz-day-content__wrapper {
  height: auto;
  margin: 50px;
  position: absolute;
  width: 500px;
  z-index: 100; }
  .biz-day-content__wrapper .biz-day__title-wrapper {
    color: #fff; }
    .biz-day-content__wrapper .biz-day__title-wrapper .biz-title {
      color: #fff;
      font-size: 50px;
      font-weight: 900;
      margin-block-start: 0;
      margin-block-end: 0; }
      .biz-day-content__wrapper .biz-day__title-wrapper .biz-title .biz-day-red-dot {
        color: red; }
    .biz-day-content__wrapper .biz-day__title-wrapper .biz-day__sub-title {
      font-size: 30px;
      font-weight: 300;
      line-height: 1.3;
      margin-block-start: 0;
      margin-block-end: 0; }
  .biz-day-content__wrapper .biz-day__explained-wrapper {
    color: #fff;
    margin-top: 60px; }
    .biz-day-content__wrapper .biz-day__explained-wrapper .biz-day__explained-title {
      font-size: 20px;
      font-weight: 600; }
    .biz-day-content__wrapper .biz-day__explained-wrapper .biz-day__explained-sub-title {
      font-size: 16px;
      font-weight: 300;
      line-height: 1.6; }
  .biz-day-content__wrapper .biz-day__socials-one {
    color: #fff;
    margin-top: 60px; }
    .biz-day-content__wrapper .biz-day__socials-one .biz-day__socials-icon {
      display: block;
      margin: 10px 0; }
      .biz-day-content__wrapper .biz-day__socials-one .biz-day__socials-icon:hover {
        cursor: pointer; }
    .biz-day-content__wrapper .biz-day__socials-one .biz-day__socials-alt {
      color: #fff;
      display: block;
      text-decoration: none;
    }
    .biz-day-content__wrapper .biz-day__socials-one .biz-day__socials-alt:hover {
      cursor: pointer; }
    .biz-day-content__wrapper .biz-day__socials-one .biz-day__socials-alt .biz-day__underline {
      background-color: #fff;
      height: 1px;
      margin-top: 4px;
      width: 18%; }
    .biz-day-content__wrapper .biz-day__socials-one .biz-day__socials-title {
      font-size: 16px;
      font-weight: bold; }

.biz-day-la__towers-wrapper {
  bottom: 140px;
  position: absolute;
  right: 0;
  width: 100%; }
  .biz-day-la__towers-wrapper .biz-day-la__towers {
    display: flex;
    justify-content: flex-end; }
    .biz-day-la__towers-wrapper .biz-day-la__towers img {
      width: 90%; }
  .biz-day-la__towers-wrapper .towers-divider__wrapper {
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%; }
    .biz-day-la__towers-wrapper .towers-divider__wrapper .towers-divider {
      background-color: #fff;
      border-radius: 20px 0 0 20px;
      height: 10px;
      width: 80%; }
  .biz-day__socials-two-container {
    position: absolute;
    bottom: 45px;
    right: 60px }
    .biz-day__socials-two-container .biz-day__socials-two {
      display: flex;
      flex-direction: row;
      justify-content: space-between; }
        .social-icon {
          display: block;
          margin: 0 5px; }
        .social-icon:first-of-type {
          margin-left: 0; }
        .social-icon:last-of-type {
          margin-right: 0; }
          .social-icon:hover {
            cursor: pointer; }
    .biz-day__socials-two-container .biz-day__socials-find-us {
      color: #fff;
      font-weight: 300;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-bottom: 10px;
      text-align: right; }

@keyframes float {
  0% {
    transform: translatey(0px); }
  50% {
    transform: translatey(-20px); }
  100% {
    transform: translatey(0px); } }
  .drone-container {
    right: 70px;
    position: absolute;
    top: 280px; }

.drone {
  width: 120px;
  height: 130px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite; }
  .drone img {
    width: 90%;
    height: auto; }
