* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.biz-day-content__container {
  height: auto;
  background-image: url("./assets/bizday-la-bg-img-no-clouds-png.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}
@media (max-width: 600px) and (min-width: 321px) {
  .biz-day-content__container {
    background-image: url("./assets/mobile-bg-img.png");
    background-position: center -100px;
  }
}

.biz-day-hero__wrapper {
  height: auto;
  margin: 50px;
  position: absolute;
  width: 500px;
  z-index: 100;
}
@media only screen and (max-width: 600px) {
  .biz-day-hero__wrapper {
    margin: 20px;
    width: 310px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .biz-day-hero__wrapper {
    margin: 20px;
  }
}
.biz-day-hero__wrapper .biz-day__title-wrapper {
  color: #fff;
}
.biz-day-hero__wrapper .biz-day__title-wrapper .biz-title {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  margin-block-start: 0;
  margin-block-end: 0;
}
.biz-day-hero__wrapper .biz-day__title-wrapper .biz-title .biz-day-red-dot {
  color: red;
}
@media only screen and (max-width: 600px) {
  .biz-day-hero__wrapper .biz-day__title-wrapper .biz-title {
    font-size: 40px;
  }
}
.biz-day-hero__wrapper .biz-day__title-wrapper .biz-day__sub-title {
  font-size: 30px;
  font-weight: 300;
  line-height: 1.3;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media only screen and (max-width: 600px) {
  .biz-day-hero__wrapper .biz-day__title-wrapper .biz-day__sub-title {
    font-size: 20px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .biz-day-hero__wrapper .biz-day__title-wrapper .biz-day__sub-title {
    font-size: 25px;
  }
}
.biz-day-hero__wrapper .biz-day__explained-wrapper {
  color: #fff;
  margin-top: 60px;
}
@media only screen and (max-width: 600px) {
  .biz-day-hero__wrapper .biz-day__explained-wrapper {
    margin-top: 20px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .biz-day-hero__wrapper .biz-day__explained-wrapper {
    margin-top: 20px;
  }
}
.biz-day-hero__wrapper .biz-day__explained-wrapper .biz-day__explained-title {
  font-size: 20px;
  font-weight: 600;
}
@media only screen and (max-width: 600px) {
  .biz-day-hero__wrapper .biz-day__explained-wrapper .biz-day__explained-title {
    font-size: 20px;
  }
}
.biz-day-hero__wrapper .biz-day__explained-wrapper .biz-day__explained-sub-title {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
}
@media only screen and (max-width: 600px) {
  .biz-day-hero__wrapper .biz-day__explained-wrapper .biz-day__explained-sub-title {
    width: 90%;
  }
}
.biz-day-hero__wrapper .biz-day__socials-one {
  color: #fff;
  margin-top: 60px;
}
@media only screen and (max-width: 600px) {
  .biz-day-hero__wrapper .biz-day__socials-one {
    margin-top: 20px;
  }
}
.biz-day-hero__wrapper .biz-day__socials-one .biz-day__socials-icon {
  display: inline-block;
  margin: 10px 0;
}
.biz-day-hero__wrapper .biz-day__socials-one .biz-day__socials-icon:hover {
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .biz-day-hero__wrapper .biz-day__socials-one .biz-day__socials-icon img {
    width: 65px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .biz-day-hero__wrapper .biz-day__socials-one .biz-day__socials-icon img {
    width: 20%;
  }
}
.biz-day-hero__wrapper .biz-day__socials-one .biz-day__socials-alt {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}
.biz-day-hero__wrapper .biz-day__socials-one .biz-day__socials-alt:hover {
  cursor: pointer;
}
.biz-day-hero__wrapper .biz-day__socials-one .biz-day__socials-alt:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  top: -10px;
  width: 100%;
}
.biz-day-hero__wrapper .biz-day__socials-one .biz-day__socials-title {
  font-size: 16px;
  font-weight: bold;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .biz-day-hero__wrapper .biz-day__socials-one {
    margin-top: 20px;
  }
}

.social-icon {
  display: block;
  margin: 0 5px;
}
.social-icon img {
  width: 35px;
}
.social-icon:first-of-type {
  margin-left: 0;
}
.social-icon:last-of-type {
  margin-right: 0;
}
.social-icon:hover {
  cursor: pointer;
}

.biz-day-la__towers-wrapper {
  bottom: 80px;
  position: absolute;
  right: 0;
  overflow: hidden;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .biz-day-la__towers-wrapper {
    bottom: 20px;
    height: 100vh;
    position: relative;
  }
}
.biz-day-la__towers-wrapper .biz-day-la__towers {
  display: flex;
  justify-content: flex-end;
}
.biz-day-la__towers-wrapper .biz-day-la__towers img {
  width: 85%;
}
@media only screen and (max-width: 600px) {
  .biz-day-la__towers-wrapper .biz-day-la__towers {
    display: none;
  }
}
.biz-day-la__towers-wrapper .biz-day-la__towers-mobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .biz-day-la__towers-wrapper .biz-day-la__towers-mobile {
    display: flex;
    justify-content: center;
  }
}
.biz-day-la__towers-wrapper .biz-day-la__towers-mobile-no {
  display: none;
}
@media only screen and (max-width: 600px) {
  .biz-day-la__towers-wrapper .biz-day-la__towers-mobile-no {
    display: flex;
    justify-content: center;
  }
}
.biz-day-la__towers-wrapper .towers-divider__wrapper {
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}
.biz-day-la__towers-wrapper .towers-divider__wrapper .towers-divider {
  background-color: #fff;
  border-radius: 20px 0 0 20px;
  height: 10px;
  width: 80%;
}

.biz-day__socials-two-container {
  bottom: 0;
  height: 120px;
  position: relative;
  top: calc(100vh - 80px);
}
.biz-day__socials-two-container .biz-day__socials-two-wrapper {
  position: absolute;
  bottom: 45px;
  right: 60px;
}
@media only screen and (max-width: 600px) {
  .biz-day__socials-two-container .biz-day__socials-two-wrapper {
    bottom: unset;
    position: unset;
    right: unset;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  .biz-day__socials-two-container img {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .biz-day__socials-two-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: unset;
    right: unset;
    margin: 0 auto;
    text-align: center;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .biz-day__socials-two-container {
    align-items: center;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: relative;
  }
}
.biz-day__socials-two-container .biz-day__socials-two {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .biz-day__socials-two-container .biz-day__socials-two img {
    width: 90%;
  }
}
.biz-day__socials-two-container .biz-day__socials-find-us {
  color: #fff;
  font-weight: 300;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 10px;
  text-align: right;
}
@media only screen and (max-width: 600px) {
  .biz-day__socials-two-container .biz-day__socials-find-us {
    font-size: 20px;
  }
}

.cloud-container .cloud {
  position: absolute;
}
.cloud-container .cloud:nth-of-type(1) {
  animation: cloud-one-float 10s infinite;
  left: 550px;
  top: 250px;
}
@media only screen and (max-width: 600px) {
  .cloud-container .cloud:nth-of-type(1) {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cloud-container .cloud:nth-of-type(1) {
    display: block;
    left: 350px;
    top: 300px;
    width: 195px;
  }
}
@media only screen and (min-width: 1600px) {
  .cloud-container .cloud:nth-of-type(1) {
    left: 850px;
    top: 50px;
  }
}
.cloud-container .cloud:nth-of-type(2) {
  animation: cloud-two-float 10s ease-in-out infinite;
  bottom: 480px;
  right: 250px;
  width: 132px;
}
@media only screen and (max-width: 600px) {
  .cloud-container .cloud:nth-of-type(2) {
    bottom: 300px;
    right: 120px;
    width: 70px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cloud-container .cloud:nth-of-type(2) {
    bottom: 300px;
    right: 120px;
    width: 70px;
  }
}
@media only screen and (min-width: 1600px) {
  .cloud-container .cloud:nth-of-type(2) {
    bottom: 600px;
    right: 400px;
  }
}
.cloud-container .cloud:nth-of-type(3) {
  animation: cloud-three-float 10s ease-in-out infinite;
  animation-delay: 3s;
  bottom: 650px;
  right: 110px;
  width: 114px;
}
@media only screen and (max-width: 600px) {
  .cloud-container .cloud:nth-of-type(3) {
    bottom: 350px;
    right: 0;
    width: 58px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .cloud-container .cloud:nth-of-type(3) {
    bottom: 350px;
    right: 0;
    width: 58px;
  }
}

.drone-container {
  right: 70px;
  position: absolute;
  top: 400px;
}
@media only screen and (max-width: 600px) {
  .drone-container {
    bottom: 250px;
    top: unset;
    right: 50px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .drone-container {
    top: 450px;
  }
}
@media only screen and (min-width: 1600px) {
  .drone-container {
    top: 300px;
    right: 120px;
  }
}
.drone-container .drone {
  width: 120px;
  height: 130px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translatey(0px);
  animation: float 3s ease-in-out infinite;
}
.drone-container .drone img {
  width: 90%;
  height: auto;
}
@media only screen and (max-width: 600px) {
  .drone-container .drone {
    width: 70px;
    height: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .drone-container .drone {
    width: 55px;
  }
}

.biz-day-la__towers-mobile {
  bottom: 0;
  box-sizing: border-box;
  overflow: hidden;
  transform: translatex(-321px);
  animation: urban-city-anim 100s ease-in-out infinite;
  animation-delay: 2s;
  position: absolute;
  width: 200%;
}
.biz-day-la__towers-mobile img {
  height: 290px;
  right: 30px;
  position: relative;
  width: 702px;
}

.biz-day-section__container {
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .biz-day-section__container {
    height: auto;
  }
}
.biz-day-section__container .biz-day-section__wrapper {
  margin: 0 auto;
  text-align: center;
  padding: 50px 0;
  width: 60%;
}
@media only screen and (max-width: 600px) {
  .biz-day-section__container .biz-day-section__wrapper {
    padding: 50px 0 0;
    width: 90%;
  }
}
.biz-day-section__container .biz-day-section__wrapper .biz-day__heading {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
}
.biz-day-section__container .biz-day-section__wrapper .biz-day__sub-heading {
  font-size: 28px;
  font-weight: bold;
}
.biz-day-section__container .biz-day-section__wrapper .biz-day-content__wrapper, .biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper {
  padding: 50px 190px;
}
@media only screen and (max-width: 600px) {
  .biz-day-section__container .biz-day-section__wrapper .biz-day-content__wrapper, .biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper {
    padding: 50px 0 0;
  }
}
.biz-day-section__container .biz-day-section__wrapper .biz-day-content__wrapper .biz-day__phrase:after, .biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper .biz-day__phrase:after {
  background-color: #000;
  content: "";
  display: block;
  height: 1px;
  margin: 30px auto;
  width: 67px;
}
.biz-day-section__container .biz-day-section__wrapper .biz-day-content__wrapper .biz-day__phrase:last-of-type:after, .biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper .biz-day__phrase:last-of-type:after {
  display: none;
}
.biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 900px;
  padding: 50px 0;
}
.biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper .bizday_card_topic {
  list-style-type: none;
  border: 2px solid #dee2e69e;
  border-radius: 0.5rem;
  padding: 1rem 1rem 2rem 1rem;
  margin-bottom: 15px;
  max-width: 15rem;
  min-height: 15rem;
  min-width: 15rem;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper .bizday_card_topic {
    max-width: unset;
    width: 100%;
  }
}
.biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper .bizday_card_topic .bizday_card_topic_image {
  height: 4rem;
  width: 4rem;
  margin: auto auto 1.5rem;
}
.biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper .bizday_card_topic .bizday_card_topic_title {
  font-size: 1.2rem;
  font-weight: bold;
}
.biz-day-section__container .biz-day-section__wrapper .biz-day-card__wrapper .bizday_card_topic .bizday_card_topic_description {
  font-size: 0.9rem;
  font-weight: lighter;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes cloud-one-float {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-40px);
  }
  100% {
    transform: translatex(0px);
  }
}
@keyframes cloud-two-float {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-20px);
  }
  100% {
    transform: translatex(0px);
  }
}
@keyframes cloud-three-float {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translatex(-20px);
  }
  100% {
    transform: translatex(0px);
  }
}
@keyframes urban-city-anim {
  0% {
    transform: translatex(-321px);
  }
  50% {
    transform: translatex(0px);
  }
  100% {
    transform: translatex(-321px);
  }
}

/*# sourceMappingURL=main.css.map */
